<div class="grid grid-cols-4 bg-gray-600 py-5">

  <div class="col-span-1 flex justify-center">
    <button (click)="about_me_route()"  class="bg-gray-800 text-orange-100 border-orange-100 rounded-md border-[1px] p-1">About Me</button>
  </div>

  <div class="col-span-1 flex justify-center">
    <button (click)="expirence_route()" class="bg-gray-800 text-orange-100 border-orange-100 rounded-md border-[1px] p-1">Experience And
      Skills</button>

  </div>
  <div class="col-span-1 flex justify-center">
    <button class="bg-gray-800 text-orange-100 border-orange-100 rounded-md border-[1px] p-1">Projects</button>
  </div>

  <div class="col-span-1 flex justify-center">
    <button class="bg-gray-800 text-orange-100 border-orange-100 rounded-md border-[1px] p-1">Education </button>
  </div>

</div>