<div class="grid grid-cols-4 p-10 gap-5">

  <div class="col-span-1 flex justify-center">
    <img class="max-w-[200px] rounded items-center" src='../../../assets/IMG_0367 (1).png'>
  </div>

  <div class="col-span-3 rounded bg-slate-600 z-10">
    <p class="text-orange-100 text-[1.531rem] p-5 leading-relaxed">
      My name is Mark A. Ramirez I got my certficate at CodeStack Academy.<br>
      CodeStack is one year program with A three month internship and A great culture.<br>
      Over the course of the iternship I work on the FOCUS San Jaquin project.<br>
      We learned A Varity of coding languages enough so that we could be A fullstack Dev.<br>
      I loved my time at CodeStack and getting to know the student's, instructers and dev's.<br>
      It was such A great expirence and I can't wait to have this to be my career.
    </p>
  </div>

  <div class="col-span-1">
    <app-about-me-cards [header]="'Ants'" [subtext]="'I love ants there just so intresting. I can talk about them for a while.'"></app-about-me-cards>
  </div>

  <div class="col-span-1">
    <app-about-me-cards [header]="'Pets'" [subtext]="'I had a husky as a kid and wanted to make a pillow with all the fluff from shedding. Mostly had cats though, they\'re great too. I have one right now.'"></app-about-me-cards>
  </div>

  <div class="col-span-1">
    <app-about-me-cards [header]="'Music'" [subtext]="'I would describe my music tastes to you but that would take longer than I have reasnable room in this card.'"></app-about-me-cards>
  </div>

  <div class="col-span-1">
    <app-about-me-cards [header]="'Magic'" [subtext]="'Me and my friends recently started playing magic the gathering. great game really fun.'"></app-about-me-cards>
  </div>

</div>